#titleApp{
    font-size:40px;
    font-family: 'Courier New', Courier, monospace;
    color: #0051ff;
}

@theme{
    --radius-5xl: 1rem; 
}

.row-btn-top{
    position: relative;
}
#deleteall-todo{
    right:0;
    float:right;
    font-size: 14px;

}

#search-bar{
    padding: 5px;
}

.delete-todo{
    text-align: center;
    vertical-align: middle;
    align-content: center;
    padding: 5px;
}

#noData{
    font-style: italic;
    text-align: center;
}

tbody tr td{
    padding : 5px;
    text-align: center;
    border: 1px solid black;
    border-style: var(--tw-border-style);
}