#titleApp{
    font-size:40px;
    font-family: 'Courier New', Courier, monospace;
    color: #0051ff;
}

@theme{
    --radius-5xl: 1rem; 
}

.row-btn-top{
    position: relative;
}
#deleteall-todo{
    right:0;
    float:right;
    font-size: 14px;

}

#search-bar{
    padding: 5px 10px;
}

.delete-btn{
    border: 1px solid black;
    color: red;
}